@import "./common/base";
@import "./lib/loading";
@import "./lib/bgGradient";
@import "./lib/macbook";
@import "./import/url";

.modal-open {
  overflow: hidden;
}

.bg-pin .char {display: inline !important; }



.message {
	position: relative;
	z-index: 100;
	display: none;
	padding: 1em;
	text-align: center;
	color: var(--color-bg);
	background: var(--color-text);
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}
.icon--navarrow-next {
	transform: rotate(45deg);
}


section#gallery {
  position: relative;
  width: 100%;
  
  #desc {
    position: absolute;
    top:50%;
    left: 50%;
    //width: 50%;
    height: 50%;
    background-color: var(--my-bg);
    transform: translate(-50% , -25%) !important;
    -webkit-transform: translate(-50% , -25%) !important;
    -moz-transform: translate(-50% , -25%) !important;
    -ms-transform: translate(-50% , -25%) !important;
    -o-transform: translate(-50% , -25%) !important;
    //height: calc(100% - 10rem);
    pointer-events: none;
    overflow: hidden;
    .content__item{
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      padding: 10vh 5vw;
      overflow: hidden;
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: center;

      .content__number {
        font-weight: bold;
        
        &::before {
          content: "\2014";
          display: inline-block;
          margin: 0 1rem 0 0;
        }
      }
  
      .content__title {	
        margin: 0.5rem 0;
      }
      .content__subtitle{
        margin: 0 0 0.5rem;
        font-weight: normal;
      }

    }
  
    button.content__close {
      position: absolute;
      right: 10%;

      //display: flex;
      //flex-flow: column;
      background: none;
      color: currentColor;
      &:focus{
        outline: none;
      }
  
      .icon--longarrow {
        width: 2rem;
        margin: 0;
      }
    }
  }
  .frame {
    position: fixed;
    z-index: 10000;
    top: 5rem;
    left: 0;
    width: 100%;
    max-width: none;
    min-height: 0;
    height: 100vh;
    padding: 1rem;
    pointer-events: none;

  a {
    pointer-events: auto;
  }
  .codrops-header {
  	position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .codrops-header__title {
      font-size: 1rem;
      font-weight: normal;
      line-height: 1;
      margin: 0;
    }
    .codrops-links {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      white-space: nowrap;

      .github {
        display: block;
        padding: 0.25em;
        margin: 0 0.25rem;
      }
      .codrops-icon {
        display: inline-block;
        padding: 0.25em;
        margin: 0.25em 0 0 0;
      }

    }
  }
}

  .slideshow {
    position: relative;
    overflow: hidden;
    margin: 0;
    // height: 100vh;
    // width: 100vw;
    margin-top: 2rem;
    // height: calc(100vh - 10rem);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 0.5%;
    grid-template-rows: 100%;
    grid-template-areas: '... slide ...';
  
    // .slideshow__deco {
    //   overflow: hidden;
    //   grid-area: slide;
    //   background: var(--color-deco);
    //   width: 100%;
    //   height: 80%;
    //   align-self: center;
    //   position: relative;
    //   margin: -40px 0 0 0;
    //   right: -20px;
    //   overflow: hidden;
    // }

    .slideshow__deco {
      overflow: hidden;
      grid-area: slide;
      // background: var(--color-deco);
      background-blend-mode: multiply;
      background-color: #0e0e0e;
      background-blend-mode: hard-light;
      width: 100%;
      height: 80%;
      height: auto;
      align-self: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      margin: -40px 0 0 0;
      right: -20px;
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
}
    .slide {
      width: 100%;
      height: 70vh;
      display: flex;
      pointer-events: none;
      cursor: pointer;
      position: relative;
      // height: 100%;
      height: null;
      grid-area: slide;

  
      .slide__img-wrap {
        width: 100%;
        overflow: hidden;
        z-index: 100;
        height: 80%;
        top: 10%;
        position: absolute;
        
        .slide__img {
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background-position: 50% 50%;
          position: absolute;
          pointer-events: none;
          transform: scale3d(1.01,1.01,1);
          -webkit-transform: scale3d(1.01,1.01,1);
          -moz-transform: scale3d(1.01,1.01,1);
          -ms-transform: scale3d(1.01,1.01,1);
          -o-transform: scale3d(1.01,1.01,1);
          object-fit: cover;
        }
      }
      .slide__side {display: none;}
  
      .slide__title-wrap {
        justify-self: flex-end;
        width: 100%;
        position: relative;
        z-index: 1000;

        .slide__title {
          // font-size: 3.25rem;
          // margin: 0 0 0.25rem;
        }
        .slide__title ,
        .slide__subtitle,
        .slide__side {
          display: block;
        }
        
        .slide_title {

        }
        
        .slide__number {
          display: block;
          font-size: 2rem;
          font-weight: bold;
          // background-blend-mode: difference;
          mix-blend-mode: difference;
          color: white;

          &::before {
            content: "\2014";
            display: inline-block;
            margin: 0 1rem 0 0;
          }
  
  
        }
      }
      
    }
    .nav {
      position: absolute;
      background: none;
      width: 3rem;
      height: 3rem;
      z-index: 1000;
      border: 0;
      padding: 0;
      margin: 0;
      pointer-events: none;
      transition: transform 0.8s, opacity 0.8s;
      transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    
      &--next {
        bottom: 1rem;
        right: 1rem;
    
        svg {
          transform: rotate(45deg);
        }
      }
    
        &--prev {
            top :1rem;
            left :1rem;
            
            .icon {
              &--navarrow-prev {
                transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);
                -moz-transform: rotate(-135deg);
                -ms-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
              }
            }
            
            svg{
                transform: rotate(-135deg)          ;
                -webkit-transform: rotate(-135deg);
                -moz-transform: rotate(-135deg);
                -ms-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
            }
        }
    }
    .slide--visible {
      .slide__img-wrap  {
        pointer-events: auto;
      }
      .slide__title-wrap {
        position: absolute;
        bottom: 0;
      }
    }
    
    .slideshow--previewopen .slide {
      cursor: default;
    }
    
    .slide--current {
      pointer-events: auto;
    }
    
  }
  .content__item--current
  .content__item--current,
  .content__item--current ~ .content__close {
    pointer-events: auto;
  }
  .slideshow--previewopen {
    .nav {
      opacity: 0;
      transition-duration: 0.4s;
    }
  
    .nav--next {
      transform: translate3d(100%, 100%, 0);
    }
    
    .nav--prev {
      transform: translate3d(-100%, -100%, 0);
    }
  }
  

}


.js {
	.slide__img-wrap,
	.slide__title-wrap,
	.slide__side {
		opacity: 0;
		pointer-events: none;
	}
  .slide--current {
    .slide__img-wrap {
      opacity: 1;
      pointer-events: auto;
    }
  }
  
  
  #desc {
    .content__title,
    .content__subtitle,
    .content__number,
    .content__text,
    .content__close {
      opacity: 0;
    }
  }

}

// slide work
#slideshow {
  margin: 0 auto;
  padding-top: 50px;
  height: 600px;
  width: 100%;
  //background-color: #6adecd;
  box-sizing: border-box;
  filter: blur(50px) saturate(3);
  -webkit-filter: blur(50px) saturate(3);
}

.slideshow-title {
	font-family: 'Allerta Stencil';
	font-size: 62px;
	color: #fff;
	margin: 0 auto;
	text-align: center;
	margin-top: 25%;
	letter-spacing: 3px;
	font-weight: 300;
}

.sub-heading {
	padding-top: 50px;
	font-size: 18px;
} .sub-heading-two {
	font-size: 15px;
} .sub-heading-three {
	font-size: 13px;
} .sub-heading-four {
	font-size: 11px;
} .sub-heading-five {
	font-size: 9px;
} .sub-heading-six {
	font-size: 7px;
} .sub-heading-seven {
	font-size: 5px;
} .sub-heading-eight {
	font-size: 3px;
} .sub-heading-nine {
	font-size: 1px;
}

.entire-content {
	margin: auto;
	width: 190px;
	perspective: 1000px;
	position: relative;
	padding-top: 80px;
}

.content-carrousel {
	width: 100%;
	position: absolute;
	float: right;
	animation: rotar 15s infinite linear;
	transform-style: preserve-3d;
}

.content-carrousel:hover {
	animation-play-state: paused;
	cursor: pointer;
}

.content-carrousel figure {
	width: 100%;
	height: 120px;
	border: 1px solid #3b444b;
	overflow: hidden;
	position: absolute;
}

.content-carrousel figure:nth-child(1) {
	transform: rotateY(0deg) translateZ(300px);
	-webkit-transform: rotateY(0deg) translateZ(300px);
	-moz-transform: rotateY(0deg) translateZ(300px);
	-ms-transform: rotateY(0deg) translateZ(300px);
	-o-transform: rotateY(0deg) translateZ(300px);
} .content-carrousel figure:nth-child(2) {
	transform: rotateY(40deg) translateZ(300px); 
} .content-carrousel figure:nth-child(3) {
	transform: rotateY(80deg) translateZ(300px); 
} .content-carrousel figure:nth-child(4) {
	transform: rotateY(120deg) translateZ(300px); 
} .content-carrousel figure:nth-child(5) {
	transform: rotateY(160deg) translateZ(300px); 
} .content-carrousel figure:nth-child(6) {
	transform: rotateY(200deg) translateZ(300px); 
} .content-carrousel figure:nth-child(7) {
	transform: rotateY(240deg) translateZ(300px); 
} .content-carrousel figure:nth-child(8) {
	transform: rotateY(280deg) translateZ(300px); 
} .content-carrousel figure:nth-child(9) {
	transform: rotateY(320deg) translateZ(300px); 
} .content-carrousel figure:nth-child(10) {
	transform: rotateY(360deg) translateZ(300px);
	-webkit-transform: rotateY(360deg) translateZ(300px);
	-moz-transform: rotateY(360deg) translateZ(300px);
	-ms-transform: rotateY(360deg) translateZ(300px);
	-o-transform: rotateY(360deg) translateZ(300px);
} 

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 1px;
}

.content-carrousel img {
	image-rendering: auto;
	transition: all 300ms;
	width: 1300%;
	height: 100%;
}

.content-carrousel img:hover {
	transform: scale(1.2);
	transition: all 300ms;
}

@keyframes rotar {
	from {
		transform: rotateY(0deg);
	} to {
		transform: rotateY(360deg);
	}
}


// --------------------------------
.tooltip-top {
  /* Modify size here: */
  --size: 100px;
  --padding: 10px;

  position: relative;
  width: calc(var(--size) - var(--padding));
  height: calc(var(--size) / 2);
  background: #333;
  padding: var(--padding);

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #333;
    height: 16px;
    width: 16px;
  }
  
}

.gallery {
	/*Removing touch highlights on smartphones*/
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-family: 'Rubik', sans-serif;
	background-color: #14051f;
	opacity: 1;
/*    transition: 1s opacity; */
}
.gallery.fade-out {
    opacity: 0;
    transition: none;
}

.slide-deco{
  background-blend-mode: multiply;
  background-color: #0e0e0e;
  background-blend-mode: hard-light;
  width: 100%;
  height: 80%;
  align-self: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  margin: -40px 0 0 0;
  right: -20px;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.gallery-slide {

  &.fade-out{
    opacity: 0;
    transition: none;
  }
  &.hide-cover {
      transform: translate(-50%, 0);
      -webkit-transition-delay: 2.5s;
      transition-delay: 2.5s;
      -webkit-transition:         all 800ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
      transition:         all 800ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
      -moz-transition:         all 800ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
      -ms-transition:         all 800ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
      -o-transition:         all 800ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
  &.show-cover {
    transform: translate(0, 0);
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
    -webkit-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition:         all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

}
  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 15px;
    background: #ffffff;
  }
  .swiper-pagination-bullet {
    position: relative;
  }
  .swiper-pagination-bullet-active:after {
    content: "";
    position: absolute;
    width: 18px;
      height: 18px;
    border: 1px solid #fff;
    border-radius: 50%;
    top: 50%;
      left: 50%;
    -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
  }
  .swiper-pagination-bullet-active {
    background: #f5f5f5;
  }
}

.hide-swiper-pagination {
    opacity: 0;
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -ms-transition: opacity 300ms;
    -o-transition: opacity 300ms;
}
.add-swiper-pagination {
	opacity: 1;
	-webkit-transition: opacity 300ms;
    transition: opacity 300ms;
}

.rotate-device-wrapper {
  display: none;

}

.rotate-device-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #cd2e42;
	z-index: 10;

  p {
    color: #f5f5f5;
    text-transform: uppercase;
    text-align: center;

    &:first-child {
      font-weight: 900;
      font-size: 50px;
      line-height: 40px;
      margin-bottom: 10px;
    }
    &:nth-child(2) {
      font-size: 30px;
      letter-spacing: -0.9px;
      word-spacing: 2px;
      margin-top: -1px;
    }
  }
  &.rotate_icon {
    width: 80px;
    height: auto;
  }
}


.rfa-sl-container-start{

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 6;

  h1 {

    font-weight: 900;
    text-transform: uppercase;
    overflow: hidden;
  }
  h1,
  p {
    color: #f5f5f5;
    z-index: 2;
  }
}


.rfa-sl-container-start {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
align-items: center;
height: 100%;
width: 100%;
z-index: 6;


  h1 {
    font-weight: 900;
    text-transform: uppercase;
    overflow: hidden;
  }
  p {
    font-weight: 300;
  }

  .rfa-sl-container-start h1,
  .rfa-sl-container-start p {
    color: #f5f5f5;
    z-index: 2;
  }
  .subText {
    font-size: 25px;
      line-height: 25px;
  }
  .author {
    margin-bottom: 10px;
  }

}

.hp-cta-wrapper {
	position: relative;
	width: 290px;
	height: 48px;
	z-index: 2;
}


.button {


  &--winona{
  	transition: border-color 0.3s, background-color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);

    &::after{
      content: attr(data-text);
    	-webkit-transform: translate3d(0, 25%, 0);
	    transform: translate3d(0, 25%, 0);
    	padding: 10px 30px;
      -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s;
      -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }
    &:hover::after {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    &:hover {
      opacity: 0;
      -webkit-transform: translate3d(0, -25%, 0);
      transform: translate3d(0, -25%, 0);
      span {
        opacity: 0;
        -webkit-transform: translate3d(0, -25%, 0);
        transform: translate3d(0, -25%, 0);
      }
      
    }
    
  }
  &.button--inverted{
    color: #14051f;

    &::after{
    	color: #14051f;
    }
    &:hover {
      border-color: #14051f;
      background-color: #14051f;
      
    }
  }
}


@media only screen and (min-width: 375px) {
  /* 375 */

/*-------------------------------------------------------*/
/* Homepage: 375
/*-------------------------------------------------------*/
.rfa-sl-container-start h1,
.rfa-sl-container-start p,
.hp-cta-wrapper {
  width: 310px;
}
.rfa-sl-container-start h1 {
  font-size: 51.5px;
}

/*-------------------------------------------------------*/
/* Swiper: 375
/*-------------------------------------------------------*/
.swiper-slide h3 {
  width: 340px;
}

/* Swiper Pagination*/
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}
.swiper-pagination-bullet-active:after {
  height: 23px;
  width: 23px;
}

/*-------------------------------------------------------*/
/* Chapter Content: 375
/*-------------------------------------------------------*/
.chaptercontent--paragraph {
  width: 280px;
}

}

@media only screen and (min-width: 414px) {
  /* 414 */

/*-------------------------------------------------------*/
/* Swiper: 414
/*-------------------------------------------------------*/

/* Swiper Pagination: 414*/
.swiper-container-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-custom, 
.swiper-pagination-fraction {
  bottom: 12%;
}

}

@media only screen and (min-width: 568px) {
  /* 568 */

/*-------------------------------------------------------*/
/* Please Rotate Device: 568
/*-------------------------------------------------------*/
.mobile .rotate-device-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}

/*-------------------------------------------------------*/
/* Swiper: 568
/*-------------------------------------------------------*/
.slide-links-container {
  width: 399px;
  
}

}

@media only screen and (min-width: 667px) {
  /* 667px */

/*-------------------------------------------------------*/
/* Swiper: 667
/*-------------------------------------------------------*/
/* Cards */
.rfa-chap-sect-slide {
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transition: height 300ms;
    transition: height 300ms;

}

.rfa-chap-sect-wrapper .swiper-slide-prev, 
.rfa-chap-sect-wrapper .swiper-slide-next {
  height: 80%;
  background-color: black;
  -webkit-transition: height 300ms;
    transition: height 300ms;
}
.swiper-slide-prev .slide-cover,
.swiper-slide-next .slide-cover,
.slide-cover {
  background-color: black;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0.75;
  -webkit-transition: opacity 300ms;
    transition: opacity 300ms;
}
.swiper-slide-active {
  height: null !important;
  .slide-cover {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 300ms, transform 310ms 100ms;
      transition: opacity 300ms, transform 310ms 100ms;
    height: 100%;
    width: 100%;
    background-color: #black;
    z-index: 2;
    transform: scale(0);
  }
  
}

@media only screen and (min-width: 736px) {
  /* 736px */

/*-------------------------------------------------------*/
/* Homepage: 736
/*-------------------------------------------------------*/
.rfa-sl-container-start h1 {
  font-size: 71.5px;
}
.rfa-sl-container-start h1, 
.rfa-sl-container-start p, 
.hp-cta-wrapper {
  width: 445px;
}

/*-------------------------------------------------------*/
/* Swiper: 736
/*-------------------------------------------------------*/

}

/*Tablet*/

@media only screen and (min-width: 768px) {
  /* 768 */

/*-------------------------------------------------------*/
/* Please Rotate Device: 768
/*-------------------------------------------------------*/
.mobile .rotate-device-wrapper {
  display: none;
}

/*-------------------------------------------------------*/
/* Homepage: 768
/*-------------------------------------------------------*/
.rfa-sl-container-start--bkg-img {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/614007/Dt_Cover.png');
}

/*-------------------------------------------------------*/
/* Chapter Content: 768
/*-------------------------------------------------------*/
.chapter-content--slide {
  height: 100%;
}
.chaptercontent--paragraph {
  width: 400px;
}
.med-gfx {
  width: 400px;
    height: 335px;
}
.lg-gfx {
  width: 400px;
    height: 400px;
}
.gradient {
  display: none;
}


/*-------------------------------------------------------*/
/* Swiper: 768
/*-------------------------------------------------------*/
.rfa-slide-container {


}
.rfa-chap-sect-slide {
  height: 80%;
}
.rfa-chap-sect-wrapper .swiper-slide-prev, 
.rfa-chap-sect-wrapper .swiper-slide-next {
  height: 70%;
}
.slide-links-container {
  width: 549px;
}
.fandom--prev-btn,
.fandom--next-btn {
  display: none;
  opacity: 0;
}
.dt-rfa--text-prev-btn,
.dt-rfa--text-next-btn {
  top: 91.5%;
  display: block;
  opacity: 1;
  background-image: none;
}
.dt-rfa--text-prev-btn {
  left: 90px;
}
.dt-rfa--text-next-btn {
  right: 90px;
}
.swiper-slide h3 {
  width: 300px;
}

/* Swiper Pagination: 768 */
.swiper-container-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-custom, 
.swiper-pagination-fraction {
  bottom: 15%;
}

}

@media only screen and (min-width: 812px) {
/* 812 */

/*-------------------------------------------------------*/
/* Please Rotate Device: 812
/*-------------------------------------------------------*/
.mobile .rotate-device-wrapper {
  display: flex;
}

}

/*    Desktop    */

@media only screen and (min-width: 1024px) {
  /* 1024 */

/*-------------------------------------------------------*/
/* Video: 1024
/*-------------------------------------------------------*/
.video-wrapper {
  width: 70%;
  max-width: 1040px;
  height: auto;
}
.bkg_gfx_1 {
  background: url();
  background-color: #f5f5f5;
}

/*-------------------------------------------------------*/
/* Please Rotate Device: 1024
/*-------------------------------------------------------*/
.mobile .rotate-device-wrapper {
  display: none;
}
.slide-links-container {
  width: 60px;
}

/* Swiper Pagination: 768 */
.swiper-container-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-custom, 
.swiper-pagination-fraction {
  bottom: 12%;
}


}

@media only screen and (min-width: 1140px) {
  /* 1140 */

/*-------------------------------------------------------*/
/* Swiper: 1140
/*-------------------------------------------------------*/
.rfa-chap-sect-wrapper .swiper-slide-prev, 
.rfa-chap-sect-wrapper .swiper-slide-next {
  height: 70%;
}
.swiper-slide h3 {
  width: 390px;
}
.rfa-chap-sect-slide h3 {
  font-size: 45px;
}

/*-------------------------------------------------------*/
/* Chapter Content: 1140
/*-------------------------------------------------------*/
.chaptercontent--paragraph {
  width: 550px;
}

}

@media only screen and (min-width: 1440px) {
  /* 1440 */
}

@media only screen and (min-width: 1662px) {
  /* 1662px */

/*-------------------------------------------------------*/
/* Homepage: 1662
/*-------------------------------------------------------*/
  .rfa-sl-container-start h1 {
    font-size: 94.5px;
  }
  .rfa-sl-container-start h1, .rfa-sl-container-start p, .hp-cta-wrapper {
    width: 590px;
  }
}}