@charset "UTF-8";
:root {
  --bg-black: hsl(0, 0%, 5%);
  --text-black: hsl(0, 0%, 5%);
  --text-white: hsl(42, 18%, 89%);
  --bg-white: hsl(42, 18%, 89%);
  --primary: #ffefe5;
  --secondary: #0A3FFF;
  --page-padding: 1.5rem 2rem;
  --bg:#1a1a1a;
  --min-size:200px;
}

html, body {
  width: 100%;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--bg-black);
  color: var(--text-white);
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}
@media (prefers-reduced-motion: reduce) {
  .icon-group {
    animation-play-state: paused;
  }
}
.loading-blurbs code {
  --animation-duration: 500ms;
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  animation-name: move;
  animation-duration: calc(var(--animation-duration) * 8);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  opacity: 0;
  color: var(--secondary);
}

@keyframes move {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-170px);
  }
}
.loading-blurbs code.typescript {
  animation-delay: var(--animation-duration);
}

.loading-blurbs code.ruby {
  animation-delay: calc(var(--animation-duration) * 2);
}

.loading-blurbs code.csharp {
  animation-delay: calc(var(--animation-duration) * 3);
}

.loading-blurbs code.cplusplus {
  animation-delay: calc(var(--animation-duration) * 4);
}

.loading-blurbs code.java {
  animation-delay: calc(var(--animation-duration) * 5);
}

.loading-blurbs code.swift {
  animation-delay: calc(var(--animation-duration) * 6);
}

.loading-blurbs code.php {
  animation-delay: calc(var(--animation-duration) * 7);
}

.glow-container {
  position: fixed;
  opacity: 0.3;
  width: 100%;
  max-height: 100%;
}

.ball {
  --delay: 0s;
  --size: 0.4;
  --speed: 20s;
  aspect-ratio: 1;
  width: calc(150% * var(--size));
  background: linear-gradient(259.53deg, #0A3FFF 6.53%, #ffb58b 95.34%);
  filter: blur(10vw);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: luminosity;
  animation: loop var(--speed) infinite linear;
  animation-delay: var(--delay);
  transform-origin: 50% 50%;
  opacity: 0.4;
  -webkit-animation: loop var(--speed) infinite linear;
  z-index: 1;
}

@keyframes loop {
  0% {
    transform: translate3D(0%, 51%, 0) rotate(0deg);
  }
  5% {
    transform: translate3D(8%, 31%, 0) rotate(18deg);
  }
  10% {
    transform: translate3D(22%, 13%, 0) rotate(36deg);
    -webkit-transform: translate3D(22%, 13%, 0) rotate(36deg);
    -moz-transform: translate3D(22%, 13%, 0) rotate(36deg);
    -ms-transform: translate3D(22%, 13%, 0) rotate(36deg);
    -o-transform: translate3D(22%, 13%, 0) rotate(36deg);
  }
  15% {
    transform: translate3D(40%, 2%, 0) rotate(54deg);
  }
  20% {
    transform: translate3D(46%, 21%, 0) rotate(72deg);
  }
  25% {
    transform: translate3D(50%, 47%, 0) rotate(90deg);
  }
  30% {
    transform: translate3D(53%, 80%, 0) rotate(108deg);
  }
  35% {
    transform: translate3D(59%, 98%, 0) rotate(125deg);
  }
  40% {
    transform: translate3D(84%, 89%, 0) rotate(144deg);
  }
  45% {
    transform: translate3D(92%, 68%, 0) rotate(162deg);
  }
  50% {
    transform: translate3D(99%, 47%, 0) rotate(180deg);
  }
  55% {
    transform: translate3D(97%, 21%, 0) rotate(198deg);
  }
  60% {
    transform: translate3D(80%, 7%, 0) rotate(216deg);
    -webkit-transform: translate3D(80%, 7%, 0) rotate(216deg);
    -moz-transform: translate3D(80%, 7%, 0) rotate(216deg);
    -ms-transform: translate3D(80%, 7%, 0) rotate(216deg);
    -o-transform: translate3D(80%, 7%, 0) rotate(216deg);
  }
  65% {
    transform: translate3D(68%, 25%, 0) rotate(234deg);
  }
  70% {
    transform: translate3D(59%, 41%, 0) rotate(251deg);
  }
  75% {
    transform: translate3D(50%, 63%, 0) rotate(270deg);
  }
  80% {
    transform: translate3D(38%, 78%, 0) rotate(288deg);
  }
  85% {
    transform: translate3D(21%, 92%, 0) rotate(306deg);
  }
  90% {
    transform: translate3D(3%, 79%, 0) rotate(324deg);
  }
  100% {
    transform: translate3D(0%, 51%, 0) rotate(360deg);
  }
}
.macbook {
  padding: 4% 6%;
  margin: 0 auto;
  max-width: 800px;
}

.screen {
  background: #000;
  border-radius: 3% 3% 0.5% 0.5%/5%;
  margin: 0 auto;
  /* for aspect ratio */
  position: relative;
  width: 80%;
}

.screen:before {
  border: 2px solid #cacacc;
  border-radius: 3% 3% 0.5% 0.5%/5%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.8) inset, 0 0 1px 2px rgba(255, 255, 255, 0.3) inset;
  content: "";
  display: block;
  /* for aspect ratio ~67:100 */
  padding-top: 67%;
}

.screen:after {
  content: "";
  border-top: 2px solid rgba(255, 255, 255, 0.15);
  position: absolute;
  bottom: 0.75%;
  left: 0.5%;
  padding-top: 1%;
  width: 99%;
}

.viewport {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: 4.3% 3.2%;
  background: #333;
}

.base {
  /* for aspect ratio */
  position: relative;
  width: 100%;
}

.base:before {
  content: "";
  display: block;
  /* for aspect ratio ~33:1000*/
  padding-top: 3.3%;
  /* stylin */
  background: linear-gradient(#eaeced, #edeef0 55%, #fff 55%, #8a8b8f 56%, #999ba0 61%, #4B4B4F 84%, #262627 89%, rgba(0, 0, 0, 0.01) 98%);
  border-radius: 0 0 10% 10%/0 0 50% 50%;
}

.base::after {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.8) 0.5%, rgba(0, 0, 0, 0.4) 3.3%, transparent 15%, rgba(255, 255, 255, 0.8) 50%, transparent 85%, rgba(0, 0, 0, 0.4) 96.7%, rgba(255, 255, 255, 0.8) 99.5%, rgba(0, 0, 0, 0.5) 100%);
  content: "";
  height: 53%;
  position: absolute;
  top: 0;
  width: 100%;
}

.notch {
  background: #ddd;
  border-radius: 0 0 7% 7%/0 0 95% 95%;
  box-shadow: -5px -1px 3px rgba(0, 0, 0, 0.2) inset, 5px -1px 3px rgba(0, 0, 0, 0.2) inset;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3.5%;
  z-index: 2;
  /* for aspect ratio */
  position: relative;
  width: 14%;
}

.notch:before {
  content: "";
  display: block;
  /* for aspect ratio ~1:10 */
  padding-top: 10%;
}

/* Screenshot Hover Scroll Additions
-------------------------------------------------------------- */
.macbook .viewport {
  transition: background-position 3s ease;
  background-position: 0 0;
  background-size: 100% auto;
  overflow: hidden;
  cursor: pointer;
}

.macbook:hover .viewport {
  background-position: 0 100%;
}

.macbook .viewport:after {
  background: radial-gradient(circle at right bottom, transparent 75%, rgba(255, 255, 255, 0.05) 75%, transparent);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.slide:nth-child(1) .slide__img {
  background-image: url("../images/gallery/thumb-flip-glass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slide:nth-child(2) .slide__img {
  background-image: url("../images/gallery/thumb-flip-luster2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slide:nth-child(3) .slide__img {
  background-image: url("../images/gallery/thumb-ip-jelly.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slide:nth-child(4) .slide__img {
  background-image: url("../images/gallery/thumb-watch-case.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slide:nth-child(5) .slide__img {
  background-image: url("../images/gallery/thumb-pencil.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slide:nth-child(6) .slide__img {
  background-image: url("../images/gallery/thumb-flip-pard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slide:nth-child(7) .slide__img {
  background-image: url("../images/gallery/thumb-airpod-silicone.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slide:nth-child(8) .slide__img {
  background-image: url("../images/gallery/thumb-ip-silicone.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slide:nth-child(9) .slide__img {
  background-image: url("../images/gallery/thumb-buds-jelly.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#web_plantShop .macbook .viewport {
  background-image: url("../../images/subpages/proj1/intro.png");
}

.modal-open {
  overflow: hidden;
}

.bg-pin .char {
  display: inline !important;
}

.message {
  position: relative;
  z-index: 100;
  display: none;
  padding: 1em;
  text-align: center;
  color: var(--color-bg);
  background: var(--color-text);
}

/* Icons */
.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor;
}

.icon--navarrow-next {
  transform: rotate(45deg);
}

section#gallery {
  position: relative;
  width: 100%;
}
section#gallery #desc {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  background-color: var(--my-bg);
  transform: translate(-50%, -25%) !important;
  -webkit-transform: translate(-50%, -25%) !important;
  -moz-transform: translate(-50%, -25%) !important;
  -ms-transform: translate(-50%, -25%) !important;
  -o-transform: translate(-50%, -25%) !important;
  pointer-events: none;
  overflow: hidden;
}
section#gallery #desc .content__item {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 10vh 5vw;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}
section#gallery #desc .content__item .content__number {
  font-weight: bold;
}
section#gallery #desc .content__item .content__number::before {
  content: "—";
  display: inline-block;
  margin: 0 1rem 0 0;
}
section#gallery #desc .content__item .content__title {
  margin: 0.5rem 0;
}
section#gallery #desc .content__item .content__subtitle {
  margin: 0 0 0.5rem;
  font-weight: normal;
}
section#gallery #desc button.content__close {
  position: absolute;
  right: 10%;
  background: none;
  color: currentColor;
}
section#gallery #desc button.content__close:focus {
  outline: none;
}
section#gallery #desc button.content__close .icon--longarrow {
  width: 2rem;
  margin: 0;
}
section#gallery .frame {
  position: fixed;
  z-index: 10000;
  top: 5rem;
  left: 0;
  width: 100%;
  max-width: none;
  min-height: 0;
  height: 100vh;
  padding: 1rem;
  pointer-events: none;
}
section#gallery .frame a {
  pointer-events: auto;
}
section#gallery .frame .codrops-header {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section#gallery .frame .codrops-header .codrops-header__title {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
}
section#gallery .frame .codrops-header .codrops-links {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  white-space: nowrap;
}
section#gallery .frame .codrops-header .codrops-links .github {
  display: block;
  padding: 0.25em;
  margin: 0 0.25rem;
}
section#gallery .frame .codrops-header .codrops-links .codrops-icon {
  display: inline-block;
  padding: 0.25em;
  margin: 0.25em 0 0 0;
}
section#gallery .slideshow {
  position: relative;
  overflow: hidden;
  margin: 0;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 0.5%;
  grid-template-rows: 100%;
  grid-template-areas: "... slide ...";
}
section#gallery .slideshow .slideshow__deco {
  overflow: hidden;
  grid-area: slide;
  background-blend-mode: multiply;
  background-color: #0e0e0e;
  background-blend-mode: hard-light;
  width: 100%;
  height: 80%;
  height: auto;
  align-self: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: -40px 0 0 0;
  right: -20px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
section#gallery .slideshow .slide {
  width: 100%;
  height: 70vh;
  display: flex;
  pointer-events: none;
  cursor: pointer;
  position: relative;
  grid-area: slide;
}
section#gallery .slideshow .slide .slide__img-wrap {
  width: 100%;
  overflow: hidden;
  z-index: 100;
  height: 80%;
  top: 10%;
  position: absolute;
}
section#gallery .slideshow .slide .slide__img-wrap .slide__img {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-position: 50% 50%;
  position: absolute;
  pointer-events: none;
  transform: scale3d(1.01, 1.01, 1);
  -webkit-transform: scale3d(1.01, 1.01, 1);
  -moz-transform: scale3d(1.01, 1.01, 1);
  -ms-transform: scale3d(1.01, 1.01, 1);
  -o-transform: scale3d(1.01, 1.01, 1);
  -o-object-fit: cover;
     object-fit: cover;
}
section#gallery .slideshow .slide .slide__side {
  display: none;
}
section#gallery .slideshow .slide .slide__title-wrap {
  justify-self: flex-end;
  width: 100%;
  position: relative;
  z-index: 1000;
}
section#gallery .slideshow .slide .slide__title-wrap .slide__title,
section#gallery .slideshow .slide .slide__title-wrap .slide__subtitle,
section#gallery .slideshow .slide .slide__title-wrap .slide__side {
  display: block;
}
section#gallery .slideshow .slide .slide__title-wrap .slide__number {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  mix-blend-mode: difference;
  color: white;
}
section#gallery .slideshow .slide .slide__title-wrap .slide__number::before {
  content: "—";
  display: inline-block;
  margin: 0 1rem 0 0;
}
section#gallery .slideshow .nav {
  position: absolute;
  background: none;
  width: 3rem;
  height: 3rem;
  z-index: 1000;
  border: 0;
  padding: 0;
  margin: 0;
  pointer-events: none;
  transition: transform 0.8s, opacity 0.8s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
section#gallery .slideshow .nav--next {
  bottom: 1rem;
  right: 1rem;
}
section#gallery .slideshow .nav--next svg {
  transform: rotate(45deg);
}
section#gallery .slideshow .nav--prev {
  top: 1rem;
  left: 1rem;
}
section#gallery .slideshow .nav--prev .icon--navarrow-prev {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
}
section#gallery .slideshow .nav--prev svg {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
}
section#gallery .slideshow .slide--visible .slide__img-wrap {
  pointer-events: auto;
}
section#gallery .slideshow .slide--visible .slide__title-wrap {
  position: absolute;
  bottom: 0;
}
section#gallery .slideshow .slideshow--previewopen .slide {
  cursor: default;
}
section#gallery .slideshow .slide--current {
  pointer-events: auto;
}
section#gallery .content__item--current .content__item--current,
section#gallery .content__item--current ~ .content__close {
  pointer-events: auto;
}
section#gallery .slideshow--previewopen .nav {
  opacity: 0;
  transition-duration: 0.4s;
}
section#gallery .slideshow--previewopen .nav--next {
  transform: translate3d(100%, 100%, 0);
}
section#gallery .slideshow--previewopen .nav--prev {
  transform: translate3d(-100%, -100%, 0);
}

.js .slide__img-wrap,
.js .slide__title-wrap,
.js .slide__side {
  opacity: 0;
  pointer-events: none;
}
.js .slide--current .slide__img-wrap {
  opacity: 1;
  pointer-events: auto;
}
.js #desc .content__title,
.js #desc .content__subtitle,
.js #desc .content__number,
.js #desc .content__text,
.js #desc .content__close {
  opacity: 0;
}

#slideshow {
  margin: 0 auto;
  padding-top: 50px;
  height: 600px;
  width: 100%;
  box-sizing: border-box;
  filter: blur(50px) saturate(3);
  -webkit-filter: blur(50px) saturate(3);
}

.slideshow-title {
  font-family: "Allerta Stencil";
  font-size: 62px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  margin-top: 25%;
  letter-spacing: 3px;
  font-weight: 300;
}

.sub-heading {
  padding-top: 50px;
  font-size: 18px;
}

.sub-heading-two {
  font-size: 15px;
}

.sub-heading-three {
  font-size: 13px;
}

.sub-heading-four {
  font-size: 11px;
}

.sub-heading-five {
  font-size: 9px;
}

.sub-heading-six {
  font-size: 7px;
}

.sub-heading-seven {
  font-size: 5px;
}

.sub-heading-eight {
  font-size: 3px;
}

.sub-heading-nine {
  font-size: 1px;
}

.entire-content {
  margin: auto;
  width: 190px;
  perspective: 1000px;
  position: relative;
  padding-top: 80px;
}

.content-carrousel {
  width: 100%;
  position: absolute;
  float: right;
  animation: rotar 15s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.content-carrousel figure {
  width: 100%;
  height: 120px;
  border: 1px solid #3b444b;
  overflow: hidden;
  position: absolute;
}

.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
  -webkit-transform: rotateY(0deg) translateZ(300px);
  -moz-transform: rotateY(0deg) translateZ(300px);
  -ms-transform: rotateY(0deg) translateZ(300px);
  -o-transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(300px);
}

.content-carrousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(300px);
}

.content-carrousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(300px);
}

.content-carrousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(300px);
}

.content-carrousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(300px);
}

.content-carrousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(300px);
}

.content-carrousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(300px);
}

.content-carrousel figure:nth-child(10) {
  transform: rotateY(360deg) translateZ(300px);
  -webkit-transform: rotateY(360deg) translateZ(300px);
  -moz-transform: rotateY(360deg) translateZ(300px);
  -ms-transform: rotateY(360deg) translateZ(300px);
  -o-transform: rotateY(360deg) translateZ(300px);
}

.shadow {
  position: absolute;
  box-shadow: 0px 0px 20px 0px #000;
  border-radius: 1px;
}

.content-carrousel img {
  image-rendering: auto;
  transition: all 300ms;
  width: 1300%;
  height: 100%;
}

.content-carrousel img:hover {
  transform: scale(1.2);
  transition: all 300ms;
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.tooltip-top {
  /* Modify size here: */
  --size: 100px;
  --padding: 10px;
  position: relative;
  width: calc(var(--size) - var(--padding));
  height: calc(var(--size) / 2);
  background: #333;
  padding: var(--padding);
}
.tooltip-top:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #333;
  height: 16px;
  width: 16px;
}

.gallery {
  /*Removing touch highlights on smartphones*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Rubik", sans-serif;
  background-color: #14051f;
  opacity: 1;
  /*    transition: 1s opacity; */
}

.gallery.fade-out {
  opacity: 0;
  transition: none;
}

.slide-deco {
  background-blend-mode: multiply;
  background-color: #0e0e0e;
  background-blend-mode: hard-light;
  width: 100%;
  height: 80%;
  align-self: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: -40px 0 0 0;
  right: -20px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.gallery-slide.fade-out {
  opacity: 0;
  transition: none;
}
.gallery-slide.hide-cover {
  transform: translate(-50%, 0);
  transition-delay: 2.5s;
  transition: all 800ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-transition: all 800ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -ms-transition: all 800ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -o-transition: all 800ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.gallery-slide.show-cover {
  transform: translate(0, 0);
  transition-delay: 1s;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.gallery-slide .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 15px;
  background: #ffffff;
}
.gallery-slide .swiper-pagination-bullet {
  position: relative;
}
.gallery-slide .swiper-pagination-bullet-active:after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gallery-slide .swiper-pagination-bullet-active {
  background: #f5f5f5;
}

.hide-swiper-pagination {
  opacity: 0;
  transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -ms-transition: opacity 300ms;
  -o-transition: opacity 300ms;
}

.add-swiper-pagination {
  opacity: 1;
  transition: opacity 300ms;
}

.rotate-device-wrapper {
  display: none;
}

.rotate-device-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #cd2e42;
  z-index: 10;
}
.rotate-device-wrapper p {
  color: #f5f5f5;
  text-transform: uppercase;
  text-align: center;
}
.rotate-device-wrapper p:first-child {
  font-weight: 900;
  font-size: 50px;
  line-height: 40px;
  margin-bottom: 10px;
}
.rotate-device-wrapper p:nth-child(2) {
  font-size: 30px;
  letter-spacing: -0.9px;
  word-spacing: 2px;
  margin-top: -1px;
}
.rotate-device-wrapper.rotate_icon {
  width: 80px;
  height: auto;
}

.rfa-sl-container-start {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 6;
}
.rfa-sl-container-start h1 {
  font-weight: 900;
  text-transform: uppercase;
  overflow: hidden;
}
.rfa-sl-container-start h1,
.rfa-sl-container-start p {
  color: #f5f5f5;
  z-index: 2;
}

.rfa-sl-container-start {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 6;
}
.rfa-sl-container-start h1 {
  font-weight: 900;
  text-transform: uppercase;
  overflow: hidden;
}
.rfa-sl-container-start p {
  font-weight: 300;
}
.rfa-sl-container-start .rfa-sl-container-start h1,
.rfa-sl-container-start .rfa-sl-container-start p {
  color: #f5f5f5;
  z-index: 2;
}
.rfa-sl-container-start .subText {
  font-size: 25px;
  line-height: 25px;
}
.rfa-sl-container-start .author {
  margin-bottom: 10px;
}

.hp-cta-wrapper {
  position: relative;
  width: 290px;
  height: 48px;
  z-index: 2;
}

.button--winona {
  transition: border-color 0.3s, background-color 0.3s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--winona::after {
  content: attr(data-text);
  transform: translate3d(0, 25%, 0);
  padding: 10px 30px;
  transition: transform 0.3s, opacity 0.3s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--winona:hover::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.button--winona:hover {
  opacity: 0;
  transform: translate3d(0, -25%, 0);
}
.button--winona:hover span {
  opacity: 0;
  transform: translate3d(0, -25%, 0);
}
.button.button--inverted {
  color: #14051f;
}
.button.button--inverted::after {
  color: #14051f;
}
.button.button--inverted:hover {
  border-color: #14051f;
  background-color: #14051f;
}

@media only screen and (min-width: 375px) {
  /* 375 */
  /*-------------------------------------------------------*/
  /* Homepage: 375
  /*-------------------------------------------------------*/
  .rfa-sl-container-start h1,
  .rfa-sl-container-start p,
  .hp-cta-wrapper {
    width: 310px;
  }
  .rfa-sl-container-start h1 {
    font-size: 51.5px;
  }
  /*-------------------------------------------------------*/
  /* Swiper: 375
  /*-------------------------------------------------------*/
  .swiper-slide h3 {
    width: 340px;
  }
  /* Swiper Pagination*/
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
  .swiper-pagination-bullet-active:after {
    height: 23px;
    width: 23px;
  }
  /*-------------------------------------------------------*/
  /* Chapter Content: 375
  /*-------------------------------------------------------*/
  .chaptercontent--paragraph {
    width: 280px;
  }
}
@media only screen and (min-width: 414px) {
  /* 414 */
  /*-------------------------------------------------------*/
  /* Swiper: 414
  /*-------------------------------------------------------*/
  /* Swiper Pagination: 414*/
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 12%;
  }
}
@media only screen and (min-width: 568px) {
  /* 568 */
  /*-------------------------------------------------------*/
  /* Please Rotate Device: 568
  /*-------------------------------------------------------*/
  .mobile .rotate-device-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /*-------------------------------------------------------*/
  /* Swiper: 568
  /*-------------------------------------------------------*/
  .slide-links-container {
    width: 399px;
  }
}
@media only screen and (min-width: 667px) {
  /* 667px */
  /*-------------------------------------------------------*/
  /* Swiper: 667
  /*-------------------------------------------------------*/
  /* Cards */
  .rfa-chap-sect-slide {
    top: 50%;
    transform: translate(0, -50%);
    transition: height 300ms;
  }
  .rfa-chap-sect-wrapper .swiper-slide-prev,
  .rfa-chap-sect-wrapper .swiper-slide-next {
    height: 80%;
    background-color: black;
    transition: height 300ms;
  }
  .swiper-slide-prev .slide-cover,
  .swiper-slide-next .slide-cover,
  .slide-cover {
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0.75;
    transition: opacity 300ms;
  }
  .swiper-slide-active {
    height: !important;
  }
  .swiper-slide-active .slide-cover {
    position: absolute;
    opacity: 0;
    transition: opacity 300ms, transform 310ms 100ms;
    height: 100%;
    width: 100%;
    background-color: #black;
    z-index: 2;
    transform: scale(0);
  }
  /*Tablet*/
  /*    Desktop    */
}
@media only screen and (min-width: 667px) and (min-width: 736px) {
  /* 736px */
  /*-------------------------------------------------------*/
  /* Homepage: 736
  /*-------------------------------------------------------*/
  .rfa-sl-container-start h1 {
    font-size: 71.5px;
  }
  .rfa-sl-container-start h1,
  .rfa-sl-container-start p,
  .hp-cta-wrapper {
    width: 445px;
  }
  /*-------------------------------------------------------*/
  /* Swiper: 736
  /*-------------------------------------------------------*/
}
@media only screen and (min-width: 667px) and (min-width: 768px) {
  /* 768 */
  /*-------------------------------------------------------*/
  /* Please Rotate Device: 768
  /*-------------------------------------------------------*/
  .mobile .rotate-device-wrapper {
    display: none;
  }
  /*-------------------------------------------------------*/
  /* Homepage: 768
  /*-------------------------------------------------------*/
  .rfa-sl-container-start--bkg-img {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/614007/Dt_Cover.png");
  }
  /*-------------------------------------------------------*/
  /* Chapter Content: 768
  /*-------------------------------------------------------*/
  .chapter-content--slide {
    height: 100%;
  }
  .chaptercontent--paragraph {
    width: 400px;
  }
  .med-gfx {
    width: 400px;
    height: 335px;
  }
  .lg-gfx {
    width: 400px;
    height: 400px;
  }
  .gradient {
    display: none;
  }
  /*-------------------------------------------------------*/
  /* Swiper: 768
  /*-------------------------------------------------------*/
  .rfa-chap-sect-slide {
    height: 80%;
  }
  .rfa-chap-sect-wrapper .swiper-slide-prev,
  .rfa-chap-sect-wrapper .swiper-slide-next {
    height: 70%;
  }
  .slide-links-container {
    width: 549px;
  }
  .fandom--prev-btn,
  .fandom--next-btn {
    display: none;
    opacity: 0;
  }
  .dt-rfa--text-prev-btn,
  .dt-rfa--text-next-btn {
    top: 91.5%;
    display: block;
    opacity: 1;
    background-image: none;
  }
  .dt-rfa--text-prev-btn {
    left: 90px;
  }
  .dt-rfa--text-next-btn {
    right: 90px;
  }
  .swiper-slide h3 {
    width: 300px;
  }
  /* Swiper Pagination: 768 */
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 15%;
  }
}
@media only screen and (min-width: 667px) and (min-width: 812px) {
  /* 812 */
  /*-------------------------------------------------------*/
  /* Please Rotate Device: 812
  /*-------------------------------------------------------*/
  .mobile .rotate-device-wrapper {
    display: flex;
  }
}
@media only screen and (min-width: 667px) and (min-width: 1024px) {
  /* 1024 */
  /*-------------------------------------------------------*/
  /* Video: 1024
  /*-------------------------------------------------------*/
  .video-wrapper {
    width: 70%;
    max-width: 1040px;
    height: auto;
  }
  .bkg_gfx_1 {
    background: url();
    background-color: #f5f5f5;
  }
  /*-------------------------------------------------------*/
  /* Please Rotate Device: 1024
  /*-------------------------------------------------------*/
  .mobile .rotate-device-wrapper {
    display: none;
  }
  .slide-links-container {
    width: 60px;
  }
  /* Swiper Pagination: 768 */
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 12%;
  }
}
@media only screen and (min-width: 667px) and (min-width: 1140px) {
  /* 1140 */
  /*-------------------------------------------------------*/
  /* Swiper: 1140
  /*-------------------------------------------------------*/
  .rfa-chap-sect-wrapper .swiper-slide-prev,
  .rfa-chap-sect-wrapper .swiper-slide-next {
    height: 70%;
  }
  .swiper-slide h3 {
    width: 390px;
  }
  .rfa-chap-sect-slide h3 {
    font-size: 45px;
  }
  /*-------------------------------------------------------*/
  /* Chapter Content: 1140
  /*-------------------------------------------------------*/
  .chaptercontent--paragraph {
    width: 550px;
  }
}
@media only screen and (min-width: 667px) and (min-width: 1440px) {
  /* 1440 */
}
@media only screen and (min-width: 667px) and (min-width: 1662px) {
  /* 1662px */
  /*-------------------------------------------------------*/
  /* Homepage: 1662
  /*-------------------------------------------------------*/
  .rfa-sl-container-start h1 {
    font-size: 94.5px;
  }
  .rfa-sl-container-start h1, .rfa-sl-container-start p, .hp-cta-wrapper {
    width: 590px;
  }
}/*# sourceMappingURL=style.css.map */